mixin traverse(root)
  li
    p= root.name
      each directory in root.files
        ul
          if directory.files
            +traverse(directory)
          else
            li
              p= directory.name



doctype html  
html(lang='en')  
 head
   title= title
   script
    |console.log(!{JSON.stringify(directories)})
 body  

  form(action='/', method='POST')
    div.form-group 
      label(for='add') Add
      input.form-control(type='text', id='add', name='add', placeholder='URL:')
    div.form-group
      label(for='r') Recursively
      input.form-control(type='checkbox', id='r', name='r')
    div.form-group
      label(for='submit')
      input.form-control(type='submit', id='submit', name='submit')
  ul
    +traverse(directories)

